.w1200 {
  width: 1200px;
  margin: auto;
}

.w1400 {
  width: 1400px;
  margin: auto;
}


.flexC {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexA {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexB {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexS {
  display: flex;
  align-items: center;
}

.flexE {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.body,
html {
  min-width: 1200px;
  font-family: "Adobe 黑体";
}

.oldInput {
  width: 322px;
  margin-left: 26px;
}

.account {
  .el-input {
    .el-input__inner {
      height: 30px;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {

  -webkit-appearance: none !important;

}

input[type="number"] {

  -moz-appearance: textfield;
  /* firefox */

}

.noticeText {
  img {
    width: 100%;
    // height: 500px;
    // max-width: 100%;
    // max-height: 100%;
  }
}

.date_picker {
  width: 144px !important;
  height: 50px !important;
  margin-left: 22px;
  margin-right: 9px;

  input {
    width: 142px;
    height: 32px;
  }
}

.page {
  .el-pager {
    li {
      background-color: #22262a !important;
      color: #6a6a6a;
      box-sizing: border-box;
      min-width: 21px !important;

      &:hover {
        color: #c8c8c8 !important;
        border-color: #c8c8c8;
      }

      &.active {
        border-color: #c8c8c8;
      }
    }
  }

  .btn-next,
  .btn-prev {
    background-color: #22262a !important;
  }
}

.pages {
  .el-pager {
    li {
      background-color: #010e17 !important;
      color: #6a6a6a;
      min-width: 21px !important;

      &:hover {
        color: #c8c8c8 !important;
        border-color: #c8c8c8;
      }

      &.active {
        border-color: #c8c8c8;
      }
    }
  }

  .btn-next,
  .btn-prev {
    background-color: #010e17 !important;
  }
}

.activityPage {
  .el-pager {
    li {
      background-color: #272733 !important;
      color: #6a6a6a;
      min-width: 21px !important;

      &:hover {
        color: #c8c8c8 !important;
        border-color: #c8c8c8;
      }

      &.active {
        border-color: #c8c8c8;
      }
    }
  }

  .btn-next,
  .btn-prev {
    background-color: #272733 !important;
  }
}

//活动申请按钮
.apply {
  a {
    padding: 5px 20px;
    background-color: #dc001a;
    color: white;
    text-align: center;
    white-space: nowrap;
    border-radius: 15px;

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.activities .ac_list .apply {
  text-align: center;

  a {
    margin: 10px 0;
    display: inline-block;
    background: #d70000;
    text-align: center;
    height: 36px;
    color: #fff;
    line-height: 36px;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
  }
}

.show {
  display: block !important;
}

.all {
  width: 130px;

  .el-input {
    height: 48px;

    .el-input__inner {
      background-color: #f9f7f8;
      text-align: center;
      border: 0;
    }
  }
}

.el-message {
  top: 50%;
}

.el-loading-mask {
  z-index: 2000 !important;
}

.el-date-editor .el-range-separator {
  padding: 0;
}



.date_picker {
  width: 450px !important;
  height: 40px !important;
  padding: 0 10px;

  .el-range-separator {
    margin-right: 10px;
    margin-left: 10px
  }
}

.home {
  .hot-game {
    .el-carousel {
      .el-carousel__container {
        .el-carousel__arrow {
          width: 50px;
          height: 50px;
          line-height: 53px;
          font-size: 28px;
          background-color: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }
}

.lotterybanner {
  .el-carousel {
    .el-carousel__container {
      // height: 400px;
    }
  }
}

.loginRegister {
  .el-input {
    .el-input__inner {
      background-color: #1c1d1c;
      border: 1px solid #3d3d3d;
      color: #fff;
    }
  }

}

.el-input {
  .el-input__inner:focus {
    border-color: #ff8514;
  }
}

.el-select .el-input.is-focus .el-input__inner {
  border-color: #ff8514;
}

.el-range-editor.is-active,
.el-range-editor.is-active:hover {
  border-color: #ff8514;
}

// 淡入淡出
.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

//个人中心tab
.user {
  .el-tabs {
    .el-tabs__header {
      margin-bottom: 0;
      height: 60px;

      .el-tabs__nav-wrap {
        height: 60px;

        &::after {
          background-color: #e9e8ea;
          height: 1px;
        }

        .el-tabs__nav-scroll {
          height: 60px;
          padding-left: 40px;

          .el-tabs__nav {
            height: 60px;
            line-height: 60px;

            .el-tabs__item {
              color: #666666;
            }

            .el-tabs__item.is-active {
              color: #666666;
            }

            .el-tabs__active-bar {
              background-color: #000;
            }
          }
        }
      }
    }
  }

  .el-pagination {
    .el-pager {
      li {
        color: #93a2dd;

        &:not(.disabled).active {
          background-color: #fea300;
        }
      }
    }
  }
}

// 提交按钮
.submitBtn {
  width: 118px;
  height: 42px;
  background-image: linear-gradient(0deg, #fc4a1a 0%, #f7b733 100%),
    linear-gradient(#eeeeee, #eeeeee);
  border-radius: 4px;
  text-align: center;
  line-height: 42px;
  color: #fff;
  cursor: pointer;
}

// 单选框
.recharge {
  .el-radio__input.is-checked .el-radio__inner {
    background: #fc7c00;
    border-color: #fc7c00;
  }
}

.user {
  .el-tabs {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .el-tabs__content {
      flex: 1;
      overflow: hidden;

      .el-tab-pane {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
    }
  }
}

// 帮助中心
.help {
  .el-collapse {
    border: none;

    .el-collapse-item {
      border-radius: 8px;
      border: 1px solid rgba(219, 219, 219, 0.29);
      margin-bottom: 12px;
      overflow: hidden;

      .el-collapse-item__header {
        border: none;
        padding-left: 30px;
        font-size: 16px;
      }

      .el-collapse-item__wrap {
        padding-left: 30px;
        border: none;
      }

      /*border: 1px solid #eee;*/
    }
  }
}

// 游戏记录
.record {
  .top {
    .el-select {
      width: 117px;

      .el-input {
        .el-input__inner {
          height: 30px;
        }

        .el-input__suffix {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.el-date-editor {
  height: 30px;

  i {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .el-range-separator {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .el-input__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(360deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.activityDetail {
  img{
    max-width: 100% !important;
  }
  >div {
    p {
      margin-bottom: 4px !important;
    }
  }
}
